
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    display: flex;
    justify-content: space-between;
    background-color: darkslategrey;
    margin: auto;
    height: 10vh;
    color: white;
}

.logo{
    margin-left: 30px;
    margin-top: 10px;
}

ul{
    display: flex;
    /* justify-content: end;   */ 
}

.item{
    margin: 15px 20px;
    list-style: none;
    
}
a{
    color: white;
}

.title{
    font-size: 2rem;
    text-align: center;
    margin: 100px


}

.main{
    margin: auto;
    justify-content: center;
    margin-left: 200px;
}

.conteiner{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
}

.column{
    width: 25vw;
    height: 70vh;
    border: 2px solid grey;
    margin: 10px;
    justify-content: center;
}

img{
    width: 20vw;
    height: 40vh;

}

p{
    color: black;
    font-size: 20px;

}

.btn-cart{
    background-color:deepskyblue;
    font-size: 15px;
    width: 10vw;
    margin-top: 30px;
    height: 5vh;
}

button:hover{
    background-color: blue;
   

}

footer{
    height: 20vh;
    background-color: darkslategrey;
    margin: auto;
    justify-content: center;
}

.conus{
    text-align: center;
    


}

.footer-ul{
    display: flex;
    width: 30vw;  
    justify-content: center;   
    text-align: center;
    margin-left: 35%;  
   

}

.contact-li{
    list-style: none;
    margin-top: 5%;
}


#inp{
    margin-left: 3%;
    margin-top:3%;
    width: 20vw;
    height: 5vh;
    border: 2px solid black;
}
